<div class="container" id="main">
  <div class="grid-item"><router-outlet></router-outlet>
  </div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item" >
    <h1 id="start_header">
      Let's explore the world!</h1>
      <hr>
      <h6 id="start_desc">Embark on a journey that takes you all over the world. From the most desolate roads in Australia to the busy, bustling streets of New York City.</h6>
      <hr>

      <button type="button" name="start" class="btn btn-success btn-lg">SINGLE PLAYER</button>
    </div>
    <div class="grid-item">6</div>
    <div class="grid-item">7</div>
    <div class="grid-item">8</div>
    <div class="grid-item">9</div>
    <div class="grid-item">7</div>
    <div class="grid-item">8</div>
    <div class="grid-item">9</div>

  </div>
