<div class="grid-container" >
  <div class="header">
    <!-- <app-navbar></app-navbar> -->
  </div>
  <div class="main">
    <div class="main-content">
      <h1 id="start_header">
        Let's explore the world!</h1>
        <hr class="rule">
        <h6 id="start_desc">Embark on a journey that takes you all over the world. From the most desolate roads in<br><br> Australia to the busy, bustling streets of New York City.</h6>
        <hr class="rule">

        <button type="button" name="start" class="btn btn-success btn-lg">SINGLE PLAYER</button>
      </div>
    </div>
    <div class="bottom">
      <hr class="rule2">
      <p><img src="../../assets/star.png" alt="star image" class="star"></p>
      <div class="row center-cols">
        <div class="row">
          <div class="col s12 m3 left-align">
            <div class="card-panel teal card-small">
              <span class="white-text">I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
              </span>
            </div>
          </div>
          <div class="col s12 m3 center-align">
            <div class="card-panel teal">
              <span class="white-text">I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
              </span>
            </div>
          </div>
          <div class="col s12 m3 right-align">
            <div class="card-panel teal">
              <span class="white-text">I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
              </span>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
